---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5 flex flex-row">
    <div class="text-3xl font-bold">Developer Philosophy</div>
    <div class="grow"></div>
    <a href="public/pdf/Rust_Resume.pdf" class="btn btn-outline ml-5">Resume</a>
  </div>

  <div class="mb-10 text-justify">
    I spend alot of my freetime keeping up with the latest trends in Software Development learning from Successes and Failures. My education coupled with my work experience has given me these three rules.
    <div class="ml-8 w-3/4 my-4">
      <li>Fast by default: Computers are fast, but Software can be wasteful. $1,000,000 is alot until you spend $800,000.</li>
      <li>Code has Cost: In the Cloud, a Website or on a Users machine. The code we write has some cost. We should strive for minimal costs and maximum benefits.</li>
      <li>Robustness is a Feature: Most interesting things are error prone, catching all possible errors and competent handling is essential.</li>
    </div>
    These are my general rule about the end product. There are others regarding styles, paradigms, and tool selection. Ideally, my GitHub give you an ideal of the quality of code I aim to write.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BS: Information, Science, and Technology"
      subtitle="2018 to 2022 at Pennsylvania State Univerity, State College, USA"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Full Stack Developer (Contract)"
      subtitle="From Feb 2022 to July 2022 at GoQuant, Miami, USA"
    >
      <div class="pl-7 mb-4">
        <li> Developing low-latency data pipeline for a crypto-currency websocket server.. </li>
        <li> Creating a multi-language library with a Rust centered static library using FFI. </li>
        <li> Using Go for utility based services such as Authentication and Authorization with Postgres.</li>
        <li> Using profiling tools for finding memory leaks and performance bottlenecks.</li>
      </div>

    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Developer"
      subtitle="From Sep 2021 to Feb 2023 at Plexus Parc, Pittsburg, USA"
    >
          </TimeLineElement>
     
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>
  -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold"></div>
  </div>

 <div class="mb-5">
    <div class="text-3xl w-full font-bold">Software Skills</div>
  </div>


  <ul class="list-disc md:columns-5 columns-2 ml-6">
    <li>Rust</li>
    <li>Go</li>
    <li>TypeScript/JavaScript</li>
    <li>Memory Profiling</li>
    <li>Performance Tuning</li>
    <li>Algo Optimization</li>
    <li>Data Structures</li>
    <li>Design Patterns</li>
    <li class="whitespace-nowrap">JSON / Yaml / XML</li>
    <li>Graphql & REST</li>
    <li class="whitespace-nowrap">All major OS's</li>
    <li>React</li>
    <li>Vue</li>
    <li>TailwindCSS</li>
    <li>Git & GitHub</li>
    <li>AWS & Cloud</li>
    <li>Docker</li>
    <li>NeoVim / Vim</li>
  </ul>


  <div class="my-5">
    <div class="text-3xl w-full font-bold">Sound Design Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 ml-6">
    <li>Musicals</li>
    <li>Plays</li>
    <li>New Works</li>
    <li class="whitespace-nowrap">Sound Reinforcement</li>
    <li>QLab</li>
    <li>Logic Pro</li>
    <li>A2 & Assisting</li>
    <li>VectorWorks</li>
    <!-- <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li> -->
  </ul>
</BaseLayout>
