---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
// import { getCollection } from "astro:content";

// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Michael Aboah</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Sound Designer</div>
    <div class="py-2">
      <text class="text-lg">
        I am a Software Engineer by profession and a Theatrical Sound Designer by education and experience. Most of my non-professional work includes creating theatre specific software using modern software tools and practices. Feel free to look at my projects below and contact me if your interested about anything!
      </text>
    </div>
    <div class="mt-8">
      <!-- <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My lastest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Sonic Sync"
    img="/images/Sonic_Sync_Icon.png"
    desc="Sonic Sync is a tool designed for theatrical sound design and audio production. It aims to streamline and synchronize the various elements of the design process, including cable layouts, signal flow, and equipment lists. Sonic Sync provides a unified platform where Sound Designers can manage and integrate there equipment." 
    url="https://github.com/michaelaboah/SonicSync"
    format="png"
    badge="In Progress"
    tags={["Rust", "TypeScript", "Cross-Platform"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sonic Sync Cloud"
    img="/images/sonic-sync-cloud.jpg"
    desc="The Cloud service that allows users of the Sonic Sync desktop app to download & upload equipment for any and every user."
    badge="In Progress"
    url="https://github.com/michaelaboah/SonicSync/tree/master/cloud"
    format="png"
    tags={["Go", "MongoDB", "GraphQL"]}
  />
<!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

-->
</BaseLayout>
